Training/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="class">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="student" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="xs:string"/>
						<xs:element name="age" type="xs:integer"/>
					</xs:sequence>
					<xs:attribute name="id" type="xs:integer" use="required"/>
			</xs:complexType>
		</xs:sequence>
	</xs:complexType>
</xs:element>

</xs:schema>
